@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.chat-bubble-animation {
  /* Menjalankan animasi 'fade-in-up' selama 0.5 detik */
  animation: fade-in-up 0.5s ease-out forwards;
}

/* Mendefinisikan apa yang dilakukan oleh animasi 'fade-in-up' */
@keyframes fade-in-up {
  /* Mulai dari transparan dan sedikit di bawah posisi asli */
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  /* Berakhir dengan terlihat penuh di posisi asli */
  to {
    opacity: 1;
    transform: translateY(0);
  }
}